extends ../layout

block contenido
  h1 Iniciar sesión

  if error
    p.error= error

  form(action="/login" method="POST")
    label Email
    input(type="email" name="email" required)

    label Contraseña
    input(type="password" name="password" required)

    button(type="submit") Entrar

  a(href="/register") ¿No tenés cuenta? Registrate